.App {
    text-align: center;
 	background: Azure ;
 }

@media only screen and (max-width: 500px) and (orientation: landscape) {
    .App {
       text-align: center;
 		background: Grey ;
    }
}

@media only screen and (max-width: 500px) {
	.App-header {
	    background: LightBlue;
	    color: black;
	    font-size: .60rem;
	    margin: 0;
	    padding: 0.5rem;
	}
}

@media only screen and (min-width: 500px) {
	.App-header {
	    background: Grey;
	    color: black;
	    font-size: .60rem;
	    margin: 0;
	    padding: 0.5rem;
	}
}

.container {
  display: flex;
  border: 2px;
  justify-content: center;
  background: radial-gradient(circle at right, Grey, #ffffff);
}

@media only screen and (max-width: 500px) {
	.center {
	  width: 250px;
}
}
@media only screen and (min-width: 500px) {
	.center {
	  width: 800px;
}
}

@media only screen and (orientation: landscape) {
    .center {
        width: 600px;
    }
}
